.window-frame {
    width: 800px;
    height: 620px;
    background: #ece9d8;
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: linear-gradient(#2658d3, #1f4ea3);
    border-top: 3px solid #6fa2ff;
}

.window-frame.maximized {
    background: #ece9d8;
    background: linear-gradient(#2658d3, #1f4ea3);
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;

    transform: none !important;
    ;

}

/* ===== TITLE BAR ===== */
.window-titleBar {
    height: 30px;
    /*background: linear-gradient(#3a6ea5, #1f4e94);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 6px;
    /*color: white;*/
    font-weight: bold;
    font-size: 13px;
}

.window-title {
    user-select: none;
    color: white;
}

/* ===== CONTROL BUTTONS ===== */
.window-controls {
    display: flex;
    gap: 2px;
}

.btn {
    width: 21px;
    height: 21px;
    border: 1px solid #fff;
    border-radius: 3px;
    background: linear-gradient(180deg, #74a1fb, #1f50b2);
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.4), inset 1px 1px 2px rgba(255, 255, 255, 0.7);
    cursor: pointer;
    outline: none;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn.close {
    background: linear-gradient(180deg, #e7826d, #d04631);
}

.btn:hover {
    background: linear-gradient(180deg, #8baeff, #2860d1);
}

.btn.close:hover {
    background: linear-gradient(180deg, #ff957e, #e05138);
}

.btn:active {
    background: #1f50b2;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.btn.close:active {
    background: #d04631;
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.window-btn-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}


/* ===== BODY ===== */
.window-body {
    height: calc(100% - 33px);
    background: white;
    padding: 0px;
    margin: 0 3px 3px 3px;
    box-sizing: border-box;
}